$bg-light-blue: #014778;
$bg-dark-blue: #001a2b;
$bg-sky-blue: #cee8f8;
$bg-white: #fff;
$bg-modal: #e0eaf1;
$bg-modal-off: #cad9df;
$clr-black: #000000;
$clr-white: #ffffff;

// some test colors
$btn-bg-blue: #60bde8;
$bg-online: #edf9fb;
$bg-offline: #d4dde2;
