@import "./variable";
@import "./resets";

body {
  background: linear-gradient(to bottom, $bg-light-blue, $bg-dark-blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }
}

@mixin btn-style {
  background: linear-gradient(to bottom, pink, blue);
  color: $clr-white;
}

.nav {
  background: $bg-sky-blue;
  padding: 10px 0;
  .content {
    display: flex;
  }

  .left-nav {
    display: flex;
    gap: 10px;
    .img-control {
      width: 80px;
      img {
        width: 100%;
      }
    }
  }

  .right-nav {
    margin-left: auto;

    .nav-list {
      list-style: none;
      display: flex;
      gap: 20px;

      .nav-list-item {
        font-size: 14px;
      }
    }

    .down::after {
      content: url("../img/arrow_down.svg");
      padding-left: 5px;
    }
  }
}

.side-nav {
  width: 30%;
  //   border-right: 1px solid #000;
  box-shadow: 10px 0px 6px -1px rgba(0, 0, 0, 0.24);
  // padding-top: 30px;
  color: $clr-white;
  height: calc(100vh - 40px);
  //   opacity: 0.1;
  float: left;

  &.hidden {
    width: max-content;
  }

  .angle-left {
    width: 40px;
    // display: none;
    visibility: hidden;
    img {
      width: 100%;
    }

    &.hidden {
      visibility: visible;
    }
  }

  .nav-group {
    background-color: rgba(#74bbed, 0.1);
    .head {
      &.hidden {
        margin-bottom: 15px;
        display: none;
      }
    }

    .head-container {
      // outline: 0.4px solid #555;
      border-top: 0.4px solid #555;
      border-bottom: 0.4px solid #555;
      padding: 4px 0 4px 15px;
      &.hidden {
        // padding: ;
        padding: 10px 0;
        height: 30px;
      }
    }
    .side-list {
      list-style: none;
    }
    .side-list-item {
      display: flex;
      cursor: pointer;
      //   gap: 10px;

      &.clicked {
        background: linear-gradient(to bottom, $bg-light-blue, $bg-dark-blue);
      }

      &:hover {
        background: linear-gradient(to bottom, $bg-light-blue, $bg-dark-blue);
      }

      .img-control {
        width: 30px;
        padding: 4px;
        img {
          width: 100%;
        }
      }
      .list-text {
        padding-top: 5px;
        padding-left: 5px;
      }

      .hidden {
        display: none;
      }
    }
  }
}

.modal-device-display {
  background-color: $bg-modal;
  float: right;
  width: calc(100% - 40px);
  position: relative;
  top: 45px;
  padding: 0 15px;
  display: none;
  &.show-modal {
    display: block;
    margin-bottom: 30px;
    // transition: all 2s ease-in-out;
  }

  .close-modal {
    height: 10px;
    .img-control {
      position: absolute;
      top: 5px;
      right: 5px;
      // background: #999;
      width: 10px;
      img {
        width: 10px;
      }
    }
  }

  .top-header {
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid #ccc;

    .left-side {
      font-weight: 300;
      color: #222;
      p {
        font-size: 12px;
      }
    }

    .right-side {
      margin-left: auto;
      background: $bg-white;
      font-size: 12px;
      padding: 4px 4px;
      height: max-content;
    }
  }

  .middle-options {
    background: $bg-modal-off;
    display: flex;
    margin-bottom: 25px;
    // gap: 0;

    .left-side {
      .user-mode {
        // background-color: pink;
        // @include btn-style;
        background: #ccc;
      }
    }

    .right-side {
      margin-left: auto;
      background: #ccc;
      button {
        // background: blue;
        @include btn-style;
        border: none;
        // color: $clr-white;

        img {
          width: 15px;
          vertical-align: middle;
        }
      }

      .blue-btn-2 {
        padding: 2px;
      }

      .btn-container {
        display: inline-block;
        background: $bg-modal;
        border: 1px solid;
        padding: 0 5px;
      }
    }
  }
}

.grid-area {
  margin-bottom: 20px;
  .device-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 320px));
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 30px;

    .list-item {
      padding: 5px 7px 7px 10px;
      position: relative;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.75);
      display: flex;

      &.offline {
        background: $bg-offline;
      }

      &.online {
        background: $bg-online;
      }

      .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          width: 10px;
        }
      }

      .img-control {
        width: 20%;
        img {
          width: 100%;
          height: 52px;
        }
      }

      .device-details {
        width: 80%;
        .name {
          color: $btn-bg-blue;
        }
        span {
          display: block;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

.bottom-section {
  border-top: 1px solid #ccc;
  height: 40px;
  position: relative;
  padding: 10px;

  .gen-btn {
    position: absolute;
    right: 0;
    padding: 0px 25px;
    @include btn-style;
    cursor: pointer;
  }
}
